<%- include ("./partials/head.ejs") %>
    <section class="about">
        <h1 class="app-title""><span>Game</span> Cupid</h1>
        <article class="about-info">
            Game Cupid is a dating app build for gamers. Set which genre of games you like,
            add your favourite game and more so you get matched with others with the same interests!
        </article>
        <a href="/login"><button class="button">Click here to continue</button></a>
    </section>
<%- include ("./partials/footer.ejs") %>