<%- include ("./partials/head.ejs") %>
    <section class="about">
        <h1 class="app-title""><span>Game</span> Cupid</h1>
        <div class="box">
            <h2>Log in</h2>
            <form action="/profile" class="form">
                <label for="username">Username</label>
                <input type="text" name="username" required>

                <label for="password">Password</label>
                <input type="password" name="password" required>

                <a href="/profile"><button class="button" type="submit">Log in</button></a>
            </form>
            <p>No account yet?</p>
            <a href="/signup"><button class="button">Sign up</button></a>
        </div>
    </section>
<%- include ("./partials/footer.ejs") %>